* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(185, 41%, 84%);

}

#logoimg {
    width: 50px;
    height: 50px;
    margin-left: 660px;
    margin-top: 130px;
    margin-bottom: 20px;
    
}

.out {
    background-color: white;
    width: 750px;
    height: 437px;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.tip-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.total-grid {
    display: grid;
    grid-template-columns: auto auto;
}

#left {
    margin-left: 30px;
    margin-top: 30px;
    width: 350px;
    height: 300px;
    
}

.bill {
    color: hsl(186, 14%, 43%);
    font-size: 18px;
}
.tipselect {
    color: hsl(186, 14%, 43%);
    margin-top: 20px;
    font-size: 18px;
}

#right {
    background-color: hsl(183, 100%, 15%);
    width: 360px;
    height: 330px;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: -40px;
    

}

.tip {
    color: white;
    margin-left: 50px;
    margin-top: 45px;

}

#tipnumber {
    color: hsl(172, 67%, 45%);
    margin-top: 45px;
    font-size: 40px;
}
.totalperson{
    color: white;
    margin-left: 50px;
    margin-top: 22px;
}

.spantotal {
    color: rgb(182, 182, 182);
    font-size: 15px;
}

.tipspan {
    color: rgb(182, 182, 182);
    font-size: 15px;
    
}

#tipnumbertwo {
    color: hsl(172, 67%, 45%);
    font-size: 40px;
    margin-left: 30px;
}

#res {
    background-color:rgb(12,96,106);
    border: none;
    border-radius: 4px;
    margin-left: 45px;
    width: 255px;
    height: 40px;
    margin-top: 50px;
    color: gray;
    cursor: pointer;
}

#res:hover {
    color: white;
    background-color: aqua;
}

#showerror {
    color: red;
    display: none;
    
}

#showerrortwo {
    color: red;
    display: none;
}

#price {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: end;
    background-color:  hsl(189, 41%, 97%);
    margin-top: 15px;
    border: none;
    outline-color: hsl(172, 67%, 45%);
}




.imgdollar {
    margin-left: -290px;
    
}

.btn {
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    
}



#btd {
    margin-top: 10px;
}

.cst {
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    border: none;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    outline-color: hsl(172, 67%, 45%);
}

#people {
    text-align: end;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    text-align: end;
    background-color:  hsl(189, 41%, 97%);
    margin-top: 15px;
    position: absolute;
    outline-color: hsl(172, 67%, 45%);
}

#person {
    margin-right: -20px;
    margin-top: 22px;
    z-index: 1;
    position: relative;
}

.active , .btn:hover {
  background-color: rgb(38,192,171);
}

#but:hover {
    background-color: hsl(184, 14%, 56%);
    cursor: pointer;
}


@media (max-width: 800px) {
    .out {
        display: grid;
        grid-template-columns: auto;
        width: 400px;
        height: 800px;
        margin-bottom: 30px;
    }
    #logoimg {
        width: 80px;
        height: 60px;
        margin-left: 210px;
        margin-top: 130px;
        margin-bottom: 20px;
        
    }

    #right {
    background-color: hsl(183, 100%, 15%);
    width: 360px;
    height: 330px;
    margin-top: 80px;
    border-radius: 8px;
    margin-left: 20px;
    }

    #btd {
        margin-top: 10px;
        margin-left: 30px;
    }

    .tipselect {
        color: hsl(186, 14%, 43%);
        margin-top: 20px;
        font-size: 18px;
        margin-left: 30px;
    }

    #bill {
        margin-left: 30px;
    }

    #people {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    #price {
        margin-left: 30px;
    }

    #person {
        display: none;
    }

    #showerror {
        color: red;
        display: none;
        
    }
    
    #showerrortwo {
        color: red;
        display: none;
    }

    


}
